<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=CharityManagement;Integrated Security=True" />
    <add key="LogFileDirectory" value="c:/temp/" />
    <add key="NameLogFile" value="log" />
    <add key="LogToDatabase" value="true" />
    <add key="LogToFile" value="true" />
    <add key="LogToConsole" value="true" />
    <add key="TypeMessage" value="1" />
    <!--Values of TypeMessage-->
    <!--message :  1-->
    <!--warning :  2-->
    <!--error   :  3-->
  </appSettings>
</configuration>